#fullTxt{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
  text-align: justify;
  transition: all 500ms;
}
.translationLens {
  position: absolute;
  border-radius: 15px;
  transition: all 500ms;
  border: solid 1px black;
  background-color: white;
  padding: 2%;
  text-align: center;
}
/** Book **/

.bookItem {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid 1px #dadada;
  border-radius: 20px;
  position: relative;
}

.bookCover{
  width: 100%;
  height: 450px;
}

.bookTitle {
  font-size: 18px;
  color: black;
}

.bookAuthor {
  font-size: 15px;
  color: #404040;
}

.bookLens {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.80);
  padding: 5%;
}

p.featureTitle {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

p.featureValue {
  font-size: 15px;
  font-weight: bold;
}

/****    Triage Doc Page     *****/

.figImg {
  width: 80%;
}

#mainContent {
  transition: all 500ms;
}

#triageLens {
  width: 80%;
  position: fixed;
  height: 80vh;
  top: 100px;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 25px;
  background-color: rgba(255,255,255,.45);
  overflow: scroll;
}

p.lensOption {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  transition: all 500ms;
  font-size: 20px;
}

/****    Triage Doc Page     *****/

/**** PAPER LIST ****/
.form-control::placeholder{
  color: #efefef;
}

.sidePanel {
  top: 0;
  width: 250px;
  height: 100%;
  position: absolute;
  background: #2e3951;
  z-index: -1;
  transition: all 500ms;
  left: 0;
}

.paperItem {
  padding: 1.5%;
  border: solid 1.5px #ececec;
  box-shadow: 3px 3px #d2d2d2;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 8px;
  transition: all 500ms;
}

.paperSmallItem {
  width: 95%;
  aspect-ratio: 1/1.5;
  border: solid 1.5px #ececec;
  box-shadow: 3px 3px #d2d2d2;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 2.5%;
  position: relative;
}

@media (max-width:576px) {
  .col-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
}

.smallItemTitle {
  font-weight: 500;
  text-align: center;
  font-size: .75em;
  color: #404040;
  border-bottom: solid 0.2px #e0e0e0;
  padding: 1.2%;
  line-height: 1.8;
}

.smallItemAuthors {
  text-align: center;
  color: #5f4f46;
  font-weight: 200;
  font-size: 0.75em;
  margin: 5%;
}

.smallItemPublishYear {
  position: absolute;
  bottom: 0;
  background: #3f51b5;
  color: white;
  padding: 1px 10px;
  font-size: 0.9em;
}

h5.paperTitle {
  text-align: justify;
  font-weight: 400;
  color: #2e3951;
}
span.authorName {
  font-size: 12px;
  color: #637190;
}

span.pubYear {
  font-size: 13px;
  font-weight: 600;
  color: #2e3951;
}

p.paperAbstract {
  text-align: justify;
  font-size: 14px;
}

.rapidLens {
  position: fixed;
  top: 10%;
  left: 50%;
  transition: all 500ms;
  z-index: 5;
  text-align: center;
}

.paperItem:hover ~ .rapidLens{
  width: 49%;
  height: 85%;
  top: 10% !important;
  left: 50% !important;
  border-radius: 10px;
  border: solid 1px black;
  background: rgba(255, 255, 255, .75);
}

.rapidLens:hover {
  width: 49%;
  height: 85%;
  top: 10% !important;
  left: 50% !important;
  border-radius: 10px;
  border: solid 1px black;
  background: rgba(255, 255, 255, .75);
}

.lensContent {
  position: absolute;
  width: 100%;
  height : 86%;
  padding: 1%;
  overflow-y: auto;
  margin-top: 12%;
  /* background-color: red; */
}

.eyeIcon {
  font-size: 35px;
  color: yellow;
}

.activePaperItem{
  filter: blur(2px);
  background: #fff9b2;
  transform: translate(1.1);
  box-shadow: 6px 6px #d2d2d2;
}

.blurPaperItem{
  filter: blur(10px);
}

.backToTop {
  font-size: 25px;
  color: #2e3951;
  cursor: pointer;
}

.elementContainer {
  transition: all 500ms;
}

.lensControlSection {
  position: absolute;
  top: 0;
  width: 100%;
  height: 12%;
  border-bottom: solid 1px rgb(80, 80, 80);
  background-color: rgba(0,0,0,.35);
}

.custom-range {
  width: 80%;
}

.playIcon {
  text-align: center;
  font-size: 35px;
  cursor: pointer;
  color: #2e3951;
}

/***************************************************************************/
.changeViewIcon {
  font-size: 20px;
  color: #afafaf;
  margin-right: 15px;
  margin-top: 25px;
  transition: all 200ms;
  cursor: pointer;
}

.activeView {
  color: #3f51b5;
  font-size: 25px;
}

.groupingIcon {
  color: #afafaf;
  font-size: 25px;
  transition: all 200ms;
  margin-top: 25px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.activeGrouping {
  color: #3f51b5;
  font-size: 28px;
}

.groupsContainer {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 3%;
  background: aliceblue;
  border-radius: 8px;
  box-shadow: 3px 3px #d1ddff;
}

.groupContainer {
  position: relative;
  width: 100%;
  transition: all 500ms;
  aspect-ratio: 1/1.5;
  border-radius: 8px;
  border: solid 1px #3f51b5;
  padding: 2px;
}

.groupContainer .row{
  margin-left: 0;
  margin-right: 0;
}

.groupContainer .col{
  padding: 0
}

.groupCell {
  border: solid 0.3px #ababab;
    width: 100%;
    aspect-ratio: 1/1.5;
    border-radius: 8px;
    overflow: hidden;
}

.addAnotherG {
  width: 100%;
  aspect-ratio: 1/1.5;
  border: solid 1px #3f51b5;
  border-radius: 8px;
  text-align: center;
  color: #3f51b5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.removeGroupIcon {
  position: absolute;
  cursor: pointer;
  color: #900000;
  font-size: 35px;
  top: -15px;
  right: -15px;
}

.clearGroup {
  position: absolute;
  cursor: pointer;
  color: #900000;
  font-size: 35px;
  bottom: -15px;
  left: -15px;
}